// Code block
.code-block {
  position: relative;
  &:hover .block-action {
    opacity: 1;
  }
  .block-action {
    position: absolute;
    top: 4rem;
    right: 1rem;
    z-index: 10;
    opacity: 0;
    transition: opacity $transition-time-sm $transition-fn;
  }
  .block-content {
    transition: background-color $transition-time-sm $transition-fn;
  }
}

// Code Line
.code-line {
  min-width: max-content;
  margin: $m-1 0;
  &:hover .line-action {
    opacity: 1;
  }
  .line-content {
    white-space: normal;
    transition: background-color $transition-time-sm $transition-fn;
  }
  .line-action {
    opacity: 0;
    transition: opacity $transition-time-sm $transition-fn;
    @include respond(mdPhone) {
      opacity: 1;
    }
  }
}

.hljs {
  padding: $p-1 - 0.5 !important;
  border-radius: $rounded;
}
