.side-menu {
  padding: $p-1 $p-2;
  .menu-group {
    margin-bottom: $m-2;
    .group-divider {
      margin: $m-1 0;
    }
    .group-item {
      display: block;
      padding: $p-1 / 2 $p-1;
      margin: $m-1 / 2 0;
      border-radius: $rounded;
      cursor: pointer;
      transition: background-color $transition-time-sm $transition-fn;
      &:hover {
        background: $bg-slate;
      }
    }
  }
}

// Color
.side-menu-blue {
  .group-item-selected {
    background: $bg-blue-rgba-sm;
    p {
      color: $text-blue;
    }
  }
}

.side-menu-green {
  .group-item-selected {
    background: $bg-green-rgba-sm;
    p {
      color: $text-green;
    }
  }
}

.side-menu-red {
  .group-item-selected {
    background: $bg-red-rgba-sm;
    p {
      color: $text-red;
    }
  }
}

.side-menu-orange {
  .group-item-selected {
    background: $bg-orange-rgba-sm;
    p {
      color: $text-orange;
    }
  }
}

.side-menu-yellow {
  .group-item-selected {
    background: $bg-yellow-rgba-sm;
    p {
      color: $text-yellow;
    }
  }
}

.side-menu-purple {
  .group-item-selected {
    background: $bg-purple-rgba-sm;
    p {
      color: $text-purple;
    }
  }
}

.side-menu-pink {
  .group-item-selected {
    background: $bg-pink-rgba-sm;
    p {
      color: $text-pink;
    }
  }
}

// Theme
.side-menu-dark {
  .menu-group {
    .group-item {
      &:hover {
        background: $bg-black;
      }
    }
  }
}
